
<div class="create-post">
    <form action="/api/signup" method="POST">
        <label for="first-name" >First name:</label>
        <input class='input-signup-field' type="text" id="first-name" name="firstName" placeholder="Your first name here..." required >
        <label for="last-name">Last name:</label>
        <input class='input-signup-field' type="text" id="last-name" name="lastName" placeholder="Your last name here..." required>
        <label for="email">Email: </label>
        <input class='input-signup-field' type="email" id="email" name="email" placeholder="Your mail" required >
        <label for="password">Password: </label>
        <input class='input-signup-field' type="password" id="password" name="password" placeholder="Your pass" required minlength="8">
        <label for="re-password" minlength="8">Re-enter password:</label>
        <input class='input-signup-field' type="password" id="re-password" placeholder="Your pass" required>
        <br/>
        <input class='input-signup-field' type="submit" value="Sign Up" id="signup-button" disabled="disabled">
    </form>
</div>
<script src="./components/signup/signup.js"></script>
